## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Ll]og/
[Ll]ogs/
[Bb]ld/
artifacts/

## MSBuild Binary and Structured Log
*.binlog

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
coverage.*
*.coverage
*.coveragexml

## NuGet Packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of restore
**/[Pp]ackages/*
!**/[Pp]ackages/build/
# Uncomment if necessary
#!**/[Pp]ackages/repositories.config

## Others
~$*
*~
*.tmp
*.log
*.user
*.suo

## VS / VS Code / JetBrains Rider
.vs/
.vscode/
.idea/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Entity Framework
Migrations/

## Local configuration
# Comente se quiser versionar
launchSettings.json
